.container {
    display: flex;
    justify-content: center;
}

#PostPage {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    text-align: center;
    width: 60%;
    background-color: #222323;
    color: #f0f6f0;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-top: 5vh;
}

#PostPage img {
    width: 100%;
}

#votes {
    margin: 20px;
}

#postpage-contents {
    display: flex;
    flex-direction: column;
    padding: 3vh;
    align-items: center;
    justify-content: space-between;
}

#postpage-info {
    display: flex;
    justify-content: space-around;
}

#postpage-info p {
    padding: 0 3vh;
}