.LoadingPost {
    width: 75vh;
    text-align: center;
    margin: 25px;
    background-color: #46878f;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.LoadingPost p,
.LoadingPost h3 {
    background-color: #326d75;
}

.LoadingPost img {
    width: 85%;
    height: 50%;
    background-color: #326d75;
}

#votes {
    margin: 20px;
}

#post-contents {
    display: flex;
}

#post-info {
    display: flex;
    justify-content: space-around;
}