.Post {
    width: 80vh;
    text-align: center;
    margin: 25px;
    background-color: #222323;
    color: #f0f6f0;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

img {
    width: 85%;
}

#votes {
    margin: 20px;
}

#post-contents {
    display: flex;
}

#post-info {
    display: flex;
    justify-content: space-around;
}