/* Keyframes */
@keyframes fade-up {
    0% {
      transform: scale(0.3);
    }
    100% {
      color: #f0f6f0;
      transform: scale(1);
    }
  }

.Post {
    width: 80vw;
    text-align: center;
    margin: 3vh;
    background-color: #222323;
    color: #f0f6f0;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    animation: fade-up 0.1s;
}

img {
    width: 85%;
}

#votes {
    margin: 1vh;
}

#post-contents {
    display: flex;
}

#post-info {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 450px) {
  .Post {
    width: 100%;
    margin: 1vh;
    text-align: center;
  }
  #post-contents {
    padding: 0 3vw;
    justify-content: center;
  }
  #post-info {
    padding: 0 3vw;
  }
  img {
    width: 100%;
  }
  #post-info p {
    margin: 1vh 0;
  }
  #votes {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .Post {
    width: 80vh;
  }
}