html {
  text-align: center;
  background-color: #222323;
  color: #f0f6f0;
}

.App-header {
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

.App-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #222323;
  color: #f0f6f0;
  border: none;
  border-radius: 20px;
  padding: 10px;
}

input {
  text-align: center;
  background-color: #222323;
  color: #f0f6f0;
  border: none;
  padding: 1vh;
  font-size: 1.1rem;
  transition-property: background-color;
  transition-duration: 0.3s;
}

input:hover {
  background-color: #2f3030;
}

a {
  color: cornflowerblue;
  font-weight: bold;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.3s;
}

a:hover {
  color: #f0f6f0;
}

#subreddits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1vh;
  margin-bottom: 1vh;
}

#subreddits input {
  appearance: none;
  width: 10vh;
}

#subreddits input:checked {
  background-color: #f0f6f0;
}

#subreddits label {
  margin: 0 2vh;
}

#otherInput {
  width: 10%;
  margin: 0 2vh;
}

#popular {
  font-size: 1rem;
  font-weight: bold;
  background-color: #f0f6f0;
  color: #222323;
  transition-property: color, background-color;
  transition-duration: 0.3s;
}

#popular:hover,
#popular:disabled {
  background-color: #2f3030;
  color: #f0f6f0;
}

#popular:active {
  background-color: #f0f6f0;
  color: #2f3030;
}
